.formBox {
	width: 100%;
	margin-bottom: 30px;
	display: flex;

	& textarea {
		width: 80%;
		border-radius: 3px;
		padding: 6px 10px;
		resize: none;
		font-size: 13px;

		&:focus {
			outline: 2px solid var(--aqua);
		}
	}

	& button {
		margin-left: 30px;
		vertical-align: top;
	}

	@media (max-width: 480px) {
		flex-wrap: wrap;
		justify-content: center;

		& textarea {
			width: 100%;
			margin-bottom: 15px;
		}

		& button {
			margin-left: 0px;
		}
	}
}

.addCommentButton {
	height: 23px;
}

.showCommentsButton {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 0px auto;
	background-color: transparent;
	color: var(--grey);
	cursor: pointer;

	&:hover {
		span {
			color: var(--aqua);
			text-decoration: underline;
		}

		svg {
			fill: var(--aqua);
		}
	}
}