.addPost {
  width: 750px;
  padding: 15px;
  margin: 35px auto 0px auto;
  background-color: #202020;
  position: relative;
}

.form {
  margin: 0px auto 40px auto;
}

.inputBox {
  max-width: 400px;
  margin: 0px auto 30px auto;
  position: relative;
}

.title {
  margin-bottom: 50px;
}

.inputBox input {
  position: relative;
  background-color: transparent;
  outline: none;
  border: none;
  color: var(--grey-light);
  padding-bottom: 10px;
  font-size: 14px;
  letter-spacing: 1px;
  font-weight: 300;
  border-bottom: 2px solid var(--grey-light);
  width: 100%;
}

.inputBox span {
  position: absolute;
  left: 0;
  font-size: 13px;
  font-weight: 300;
  display: inline-block;
  pointer-events: none;
  letter-spacing: 1px;
  color: var(--grey-light);
  transition: all 0.2s;
}

.inputBox input:focus ~ span,
.noEmpty input ~ span {
  transform: translateY(-24px);
  color: var(--aqua);
  font-size: 14px;
}

.inputBox input:focus,
.noEmpty input {
  border-bottom-color: var(--aqua);
}

.inputError {
  font-size: 12px;
  color: var(--red);
  margin-top: 3px;
  font-weight: 300;
}

.link {
  margin-left: 40px;
  font-size: 14px;
  color: var(--white);
  transition: all 0.3s ease 0s;
}
.link:hover {
  color: var(--grey-light);
  text-decoration: underline;
}

.imageBox {
  margin-bottom: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.imageBox .image {
  position: relative;
  width: 400px;
  height: 350px;
  margin-bottom: 15px;
}
.imageBox .image img {
  margin: 0 auto;
  -o-object-fit: contain;
     object-fit: contain;
  border-radius: 8px;
}
.imageBox .removeImage {
  margin-left: 20px;
  background-color: transparent;
  color: var(--red);
  font-size: 14px;
  cursor: pointer;
  transition: all 0.3s ease 0s;
}
.imageBox .removeImage:hover {
  color: var(--grey-light);
  text-decoration: underline;
}