.header {
	display: grid;
	grid-template-columns: 50% minmax(200px, 400px);
	border-bottom: 1px solid var(--primary);
	padding: 10px;
	justify-items: center;
	height: 65px;

	@media (max-width: 730px) {
		grid-template-columns: auto 1fr minmax(100px, 300px);
	}

	@media (max-width: 600px) {
		grid-template-columns: auto 1fr auto;
	}
}

.logo {
	font-size: 32px;
	color: var(--red);
	display: flex;
	align-items: center;
	justify-content: center;
	z-index: 6;

	@media (max-width: 880px) {
		font-size: calc(26px + (32 - 26) * ((100vw - 730px) / (880 - 730)));
	}

	@media (max-width: 600px) {
		font-size: 30px;
	}

	@media (max-width: 480px) {
		font-size: 26px;
	}
}